
# --------- pytorch --------- #
torch~=1.10.0
torchvision~=0.11.0
pyro-ppl~=1.7.0
torchmetrics~=0.6.0
pytorch_lightning=~1.5.0   # only for DataModules. Ditch?

# --------- others --------- #
python-dotenv   # loading env variables from .env file
scikit-learn    # misc ML helpers
seaborn         # plotting
jupyterlab      # better jupyter notebooks
wheel           # Eases installation of some deps
einops~=0.3.0   # Eases operations on tensors
h5py~=3.5.0     # Saving and loading of hdf5 files